# Archivos de compilación
bin/
obj/
[Bb]in/
[Oo]bj/

# Configuración local de VS
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de build temporales
*.cache
*.pdb
*.log

# Carpetas de publicación
publish/
